.header {
  padding: 20px 0;
  width: 100%;

  background-color: var(--blue-bg-color);
}

.hederContainer {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: var(--yellow-color);
}
